<div class="container">
  {{#if model.workers}}
  <h4>Seus Workers</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Hashrate (Média Curta)</th>
          <th>Hashrate (Média longa)</th>
          <th>Ultimo Share</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}</td>
            <td>{{format-hashrate v.hr2}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>Sem workers online</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
    <span class="sr-only">Notice:</span>
    Seu hashrate médio será ajustado suavemente até que você compartilhe a janela de estimativa de preenchimento completo. <br/>
    Existem duas janelas, longas e curtas, primeiro é igual a cerca de 30 minutos e a janela longa geralmente é igual a 3 horas.<br/>
    Os trabalhadores Inativos serão destacados em uma tabela de trabalhadores se eles não enviaram uma participação para a metade da janela curta,
    para que você possa realizar a manutenção de suas plataformas.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>Suas Estatisticas: JSON API URL:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
